/* genel */
div.jstyle
{
	background-color:rgb(255, 255, 255);
}
/* ------------------------- */

section.uluslararsi
{
	background-color:rgb(249, 249, 245);
}



section.yabanciDil
{
	background-color:rgb(254, 254, 254) ;
}

/* ------------------------- */
/* Slider için Css kodlarım */
#yazi
{
	color:black;
}
#divrengi
{
	position:relative;
	left:350px;
	top:-80px;
	width:400px;
	background-color:powderblue;
}
/* resimlerli sayfa içinde küçültmek için kullandım */
.UskupResim
{
		width:100%;
		height:50%;
}
/* ------------------------- */
/* iletişim sayfası */

button.btn
{
	background-color:powderblue;
}
/* ilgi alanım map div için css */
 #enlem{ background-color:powderblue; }
 #boylam{ background-color:powderblue; }
 #Stil{ background-color:yellow; }



